// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');
// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

body{
    font-family: 'Roboto Slab', serif;
    font-style: normal;
    background: #ffffff;
}

.content{
    min-height: calc(100vh - 200px);
}

.navbar{
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
    height: 100px;
    color: #000;
    .logo-bg{
        position: absolute;
        height: 100%;
        width: 300px;
        background: #D7D7D7;
        opacity: .2;
        left: -100px;
    }
    .navbar-brand img{
        width: 80px;
    }
    .nav-link{
        color: #000;
        +.active{
            font-weight: bold;
            padding-bottom: 2px;
            border-bottom: 1px solid #FFD977;
        }
    }
}

footer{
    .navbar{
        font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
        height: 100px;
        color: #fff;
        .nav-link{
            color: #fff;
            +.active{
                font-weight: bold;
                padding-bottom: 2px;
                border-bottom: 1px solid #FFD977;
            }
        }
    }
    .social{
        display: flex;
        justify-content: flex-end;
        padding: 10px 0;
        padding-bottom: 60px;
        ul{
            display: flex;
            list-style: none;
            li{
                width: 30px;
                height: 30px;
                display: flex;
                justify-content: center;
                align-items: center;
                font-size: 17px;
                color: #fff;
                background: #6a6a6a;
                border-radius: 50%;
                margin-left: 15px;
                a{
                    text-decoration: none;
                    color: #fff;
                }
            }
        }
    }
}

.yellow-line{
    display: block;
    position: relative;
    background-color: #FFD977;
    height: 3px;
}
.yellow-btn{
    padding: 15px 30px;
    border-radius: 100px;
    background: #FFD977;
    font-weight: bold;
    font-size: 20px;
    line-height: 119.88%;
    box-shadow: 0px 3px 9px rgba(0, 0, 0, 0.25);
}

.bg-section{
    .yellow-line{
    width: 161px;
    margin: 20px 0;
    }
    .yellow-btn{
        margin-top: 50px;
    }
    .bg-section__title{
    font-weight: bold;
    font-size: 60px;
    line-height: 110.69%;
    color: #000;
    margin-top: 70px;
    }
    .bg-section__subtitle{
        font-weight: normal;
        font-size: 15px;
        line-height: 110.69%;
        color: #000000;
    }
    .bg-section__img{
        position: relative;
        width: 100%;
        height: 538px;
        box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.25);
        border-radius: 16px;
        overflow: hidden;
    }
    .bg-section__img img{
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}


.filter-block {
    width: calc(100% - 200px);
    margin: 50px auto;
    background: rgba(0, 0, 0, 0.65);
    border-radius: 16px;
    padding: 60px 115px;
    position: relative;
    display: none;
    ul{
        list-style: none;
        display: flex;
        justify-content: space-between;
    }
    h5{
        font-weight: bold;
        font-size: 20px;
        line-height: 110.69%;
        color: #FFFFFF;
        padding-bottom: 3px;
        border-bottom: 2px solid #FFD977;
    }
    .columns-flex{
        font-weight: bold;
        font-size: 14px;
        line-height: 110.69%;
        color: #FFFFFF;
    }
    .columns-flex input{display: none;}
}



.projects-wrapper{
    margin-top: 50px;
    display: flex;
    flex-wrap: wrap;
    .sorting-block{
        font-weight: bold;
        font-size: 20px;
        line-height: 110.69%;
        select{
            display: inline-block;
            width: fit-content;
            border: 0;
            font-weight: bold;
            font-size: 20px;
            margin-top: -4px;
            &:focus{
                outline: none;
                box-shadow: none;
            }
        }
    }
    .flex-box{
        margin: 0 -15px;
        margin-top: 30px;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
    }
    .card{
        position: relative;
        display: block;
        flex: 0 0 calc(25% - 30px);
        border-radius: 16px;
        box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.25);
        overflow: hidden;
        box-sizing: border-box;
        margin: 15px 15px;
        text-decoration: none;
        color: #000;
        .like-block{
            position: absolute;
            top: 10px;
            right: 15px;
            z-index: 10;
            width: 35px;
            height: 35px;
            font-size: 17px;
            color: #FFD977;
            display: flex;
            justify-content: center;
            align-items: center;
            background: #fff;
            border-radius: 50%;
        }
        .card-price{
            width: auto;
            padding: 5px 20px;
            height: 30px;
            background: #32323293;
            position: absolute;
            top: -30px;
            color: #fff;
            right: 0;
            .rub{
                font-size: 11px;
                color: #FFD977;
            }
        }
        .card-body{
            padding: 25px;
            padding-bottom: 35px;
            position: relative;
        }
        .card-title{
            width: fit-content;
            padding-bottom: 1px;
            border-bottom: 2px solid #FFD977;
            white-space: nowrap;
            text-overflow: ellipsis;
            overflow: hidden;
            max-width: 100%;
        }
        .card-text{
            list-style: none;
            margin: 0;
            padding: 0;
            li{
                font-size: 12px;
                line-height: 120%;
                display: flex;
                justify-content: space-between;
                margin-top: 0;
            }
        }
        .card-img-top{
            width: 100%;
            height: 178px;
            position: relative;
            overflow: hidden;
            img{
                width: 100%;
                height: 100%;
                object-fit: cover;
                object-position: center;
            }
        }
    }
}

.recommend-block{
    margin-top: 100px;
    .title{
        margin-bottom: 70px;
    }
    .slick-track{
        padding: 20px 0;
    }
    .card{
        position: relative;
        display: block;
        border-radius: 16px;
        box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.25);
        overflow: hidden;
        box-sizing: border-box;
        margin: 0 15px;
        text-decoration: none;
        color: #000;
        max-width: 240px;
        padding: 0 !important;
        .like-block{
            position: absolute;
            top: 10px;
            right: 15px;
            z-index: 10;
            width: 35px;
            height: 35px;
            font-size: 17px;
            color: #FFD977;
            display: flex;
            justify-content: center;
            align-items: center;
            background: #fff;
            border-radius: 50%;
        }
        .card-price{
            width: auto;
            padding: 5px 20px;
            height: 30px;
            background: #32323293;
            position: absolute;
            top: -30px;
            color: #fff;
            right: 0;
            .rub{
                font-size: 11px;
                color: #FFD977;
            }
        }
        .card-body{
            padding: 25px;
            padding-bottom: 35px;
            position: relative;
        }
        .card-title{
            width: fit-content;
            padding-bottom: 1px;
            border-bottom: 2px solid #FFD977;
        }
        .card-text{
            list-style: none;
            margin: 0;
            padding: 0;
            li{
                font-size: 12px;
                line-height: 120%;
                display: flex;
                justify-content: space-between;
                margin-top: 0;
            }
        }
        .card-img-top{
            width: 100%;
            height: 178px;
            position: relative;
            overflow: hidden;
            img{
                width: 100%;
                height: 100%;
                object-fit: cover;
                object-position: center;
            }
        }
    }
}

.register-block{
    .form-group{
        margin-bottom: 24px !important;
    }
    .form-card{
        width: 1000px;
        margin: 70px auto;
        border-radius: 16px;
        background: #FFFFFF;
        box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.25);
        padding: 0;
        border: none;
    }
    .col-md{
        margin: 0;
        padding: 0 !important;
    }
    .form-card form{
        width: 100%;
        box-sizing: border-box;
        padding: 50px 70px;
        max-width: none !important;
    }
    .invalid{
        border-color: red;
        outline-color: tomato;
    }
    .error-text{
        color: red;
        display: block;
        margin-bottom: -19px;
        position: relative;
    }
    label{
        display: inline-block;
    }
    label::before{
        content: '';
        display: inline-block;
        width: 13px;
        height: 13px;
        border-radius: 50%;
        border: 1px solid #000;
        box-sizing: border-box;
        margin-right: 10px;
        margin-bottom: -1px;
    }
    input[type="radio"]{
        display: none;
    }
    input[type="radio"]:checked+label::before { border: 3.5px solid #FFD977; }
    .btn-submit{
        font-size: 20px;
        border-radius: 16px !important;
        box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.29);
        padding: 30px auto;
        width: 100%;
        box-sizing: border-box;
        &:desabled{
            background: #fcdd8d;
        }
    }
    .radio-group{
        display: flex;
        justify-content: space-between;
        margin-bottom: 30px;
    }

    input[type="text"] , input[type="password"]{
        padding: 25px 40px;
        box-sizing: border-box;
        border-radius: 16px;
    }
    input[type="text"]:focus , input[type="password"]:focus{
        box-shadow: none;
    }
    .radio-title{
        font-weight: bold;
        margin-top: 30px;
    }
    .form-title{
        font-weight: bold;
        font-size: 22px;
        line-height: 110.69%;
        margin-bottom: 40px;
    }
    .with-border{
        padding-bottom: 2px;
        border-bottom: 2px solid #FFD977;
    }
    .form-img-col{
        border-radius: 16px;
        overflow: hidden;
        padding: 0;
        margin: 0;
    }
    .form-img-col img{
        height: 100%;
        object-fit: cover;
    }
    @media screen and (max-width: 1200px){
        .form-card{
            width: 100%;
        }
    }
    @media screen and (max-width: 993px){
        .form-card{
            width: 100%;
        }
        .form-img-col{
            display: none;
        }
    }
    @media screen and (max-width: 500px){
        form{
           padding: 0px 20px !important;
        }
        .form-card{
            box-shadow: none;
        }
    }
}


.project-view{
    .btn-next{
        width: 37px;
        height: 37px;
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        color: #000;
        background: #FFD977;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        right: -17px;
        font-size: 16px;
        z-index: 100;
        &:hover, &:active{
            background: #fccb51;
            color: #333;
        }
    }
    .btn-prev{
        width: 37px;
        height: 37px;
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        color: #000;
        background: #FFD977;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        left: -10px;
        font-size: 16px;
        z-index: 100;
        &:hover, &:active{
            background: #fccb51;
            color: #333;
        }
    }
    .slick-next::before , .slick-prev::before {
        display: none;
    }
    .card{
        box-sizing: border-box;
        width: 100%;
        background: #FFFFFF;
        box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.15);
        border-radius: 16px;
        padding: 30px;
        border: none;
    }
    .project-title{
        padding-bottom: 2px;
        border-bottom: 2px solid #FFD977;
        font-size: 35px;
        margin-bottom: 35px;
        width: fit-content;
    }
    .preview{
        margin-bottom: 20px;
        width: 100%;
        height: 455px;
        border-radius: 16px;
        position: relative;
        overflow: hidden;
        box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.15);
        img{
            object-fit: cover;
            width: 100%;
            height: 100%;
        }
    }
    .preview-slide{
        margin-bottom: 40px;
        width: 100%;
        height: 455px;
        border-radius: 16px;
        position: relative;
        overflow: hidden;
        img{
            object-fit: cover;
            width: 100%;
            height: 100%;
        }
    }
    .mini-slider{
        .slick-list{
            padding: 10px 0;
        }
    }
    .desc-card{
        margin: 25px 0;
        height: 475px;
        overflow-y: hidden;
    }
    .info-card{
        position: relative;
        padding: 80px 50px;
        padding-top: 100px;
        .like-block{
            position: absolute;
            top: 30px;
            right: 40px;
            font-size: 12px;
            z-index: 10;
            display: flex;
            align-items: center;
            .like{
                width: 35px;
                height: 35px;
                font-size: 17px;
                color: #fff;
                display: flex;
                justify-content: center;
                align-items: center;
                background: #FFD977;
                border-radius: 50%;
                margin-left: 10px;
            }
            +.active{
                .like{
                    color: #FFD977;
                    background: #fff;
                    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.15);
                }
            }
        }
    }
    .mini-preview{
        max-width: 210px;
        height: 151px;
        border-radius: 16px;
        position: relative;
        overflow: hidden;
        box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.15);
        margin: 0 10px;
        img{
            object-fit: cover;
            width: 100%;
            height: 100%;
        }
    }
    .price-block{
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-top: 40px 0;
        .price{
            width: fit-content;
            color: white;
            background: #353535;
            padding: 10px 30px;
            box-shadow: 0px 3px 9px rgba(0, 0, 0, 0.25);
        }
    }
    td{
        border: none;
    }
    .btn-block {
        margin-top: 40px;
        display: flex;
        justify-content: space-between;
        .yellow-btn{
            box-shadow: none;
            line-height: 100%;
        }
        .yellow-outline-btn {
            background: #fff;
            border: 2px solid #FFD977;
            border-radius: 100px;
            box-shadow: 0;
        }
        a{
            display: block;
            position: relative;
            padding: 20px 40px;
            font-size: 13px;
            color: #000;
            text-decoration: none;
            line-height: 100%;
        }
    }
}
