// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');
// Variables
@import 'variables';
// @import 'alerts';
// Bootstrap
@import '~bootstrap/scss/bootstrap';

body{
    font-family: 'Roboto Slab', serif;
    font-style: normal;
    background: #ffffff;
}

.content{
    min-height: calc(100vh - 200px);
}

.alert{
    position: relative;
    padding-left: 25px !important;
    &:before{
        content: '';
        position: absolute;
        height: calc(100% - 10px);
        width: 5px;
        border-radius: 5px;
        opacity: 0.7;
        top: 5px;
        left: 5px;
    }
    &.alert-primary{
        &:before{
            background: #004085;
        }
    }
    &.alert-secondary{
        &:before{
            background: #383d41;
        }
    }
    &.alert-success{
        &:before{
            background: #155724;
        }
    }
    &.alert-danger{
        &:before{
            background: #721c24;
        }
    }
    &.alert-warning{
        &:before{
            background: #856404;
        }
    }
    &.alert-info{
        &:before{
            background: #0c5460;
        }
    }
    &.alert-dark{
        &:before{
            background: #333;
        }
    }
}

.region-modal{
    .modal-content{
        border-radius: 16px;
        border: none;
        .modal-title{
            padding-bottom: 2px;
            width: fit-content;
            border-bottom: 2px solid #FFD977;
        }
    }
    ul{
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        max-height: 400px;
        align-content: baseline;
        li{
            width: 200px;
            border: none;
            a{
                display: block;
                width: fit-content;
                color: #000;
            }
        }
    }
}

.navbar{
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
    height: 100px;
    color: #000;
    z-index: 100;
    .navbar-collapse{
        background: #ffffff;
    }
    select{
        width: fit-content;
        background: none;
        font-weight: bold;
        border: none;
        background-image: url('https://image.flaticon.com/icons/png/512/25/25623.png');
        background-size: 10px 10px;
        background-position: right center;
        background-repeat: no-repeat;
        padding: 0 10px;
        margin-left: 40px;
        color: #000;
        &:focus{
            box-shadow: none;
            outline: none;
        }
    }
    .region-toggle{
        display: block;
        background-color: #fff !important;
        background-image: url('https://image.flaticon.com/icons/png/512/25/25623.png');
        background-size: 10px 10px;
        background-position: right center;
        background-repeat: no-repeat;
        width: fit-content;
        border: none;
        padding: 0 20px;

        margin-left: 20px;
        font-weight: bold;
        &:focus{
            box-shadow: none;
            outline: none;
        }
    }
    .logo-bg{
        position: absolute;
        height: 100%;
        width: 300px;
        background: #D7D7D7;
        opacity: .2;
        left: -100px;
    }
    .navbar-brand img{
        width: 80px;
    }
    .nav-link{
        color: #000;
        +.active{
            font-weight: bold;
            padding-bottom: 2px;
            border-bottom: 1px solid #FFD977;
        }
    }
}

footer{
    .navbar{
        font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
        height: 100px;
        color: #fff;
        .nav-link{
            color: #fff;
            +.active{
                font-weight: bold;
                padding-bottom: 2px;
                border-bottom: 1px solid #FFD977;
            }
        }
    }
    .social{
        display: flex;
        justify-content: flex-end;
        padding: 10px 0;
        padding-bottom: 60px;
        ul{
            display: flex;
            list-style: none;
            li{
                width: 30px;
                height: 30px;
                display: flex;
                justify-content: center;
                align-items: center;
                font-size: 17px;
                color: #fff;
                background: #6a6a6a;
                border-radius: 50%;
                margin-left: 15px;
                a{
                    text-decoration: none;
                    color: #fff;
                }
            }
        }
    }
}

.yellow-line{
    display: block;
    position: relative;
    background-color: #FFD977;
    height: 3px;
}
.yellow-btn{
    padding: 15px 30px;
    border-radius: 100px;
    background: #FFD977;
    font-weight: bold;
    font-size: 20px;
    line-height: 119.88%;
    box-shadow: 0px 3px 9px rgba(0, 0, 0, 0.25);
}

.bg-section{
    .yellow-line{
    width: 161px;
    margin: 20px 0;
    }
    .yellow-btn{
        padding: 20px 30px;
        margin-top: 50px;
    }
    .bg-section__title{
    font-weight: bold;
    font-size: 48px;
    line-height: 110.69%;
    color: #000;
    margin-top: 70px;
    }
    .bg-section__subtitle{
        font-weight: normal;
        font-size: 18px;
        line-height: 110.69%;
        color: #000000;
    }
    .bg-section__img{
        position: relative;
        width: 100%;
        height: 538px;
        box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.25);
        border-radius: 16px;
        overflow: hidden;
    }
    .bg-section__img img{
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}

a.project-card{
    position: relative;
    display: block;
    border-radius: 16px;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    box-sizing: border-box;
    margin: 15px 15px;
    text-decoration: none;
    color: #000;
    border: none;
    &:focus , &:active{
        box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.1);
        outline: none;
    }
    .like-block{
        position: absolute;
        top: 10px;
        right: 15px;
        z-index: 10;
        width: 35px;
        height: 35px;
        font-size: 17px;
        color: #FFD977;
        display: flex;
        justify-content: center;
        align-items: center;
        background: #fff;
        box-shadow: 0 5px 10px rgba(0, 0, 0, 0.15);
        border-radius: 50%;
        transition: .2s;
        &.active{
            color: #fff;
            background: #FFD977;
            box-shadow: none;
        }
        &.animated{
            font-size: 14px;
            transform: translateY(5px);
        }
        &:disabled{
            opacity: 0.6;
        }
    }
    .card-price{
        width: auto;
        padding: 5px 20px;
        height: 30px;
        background: #32323293;
        position: absolute;
        top: -30px;
        color: #fff;
        right: 0;
        .rub{
            font-size: 11px;
            color: #FFD977;
        }
    }
    .card-body{
        padding: 25px;
        padding-bottom: 35px;
        position: relative;
    }
    .card-title{
        width: fit-content;
        padding-bottom: 1px;
        border-bottom: 2px solid #FFD977;
        white-space: nowrap;
        text-overflow: ellipsis;
        overflow: hidden;
        max-width: 100%;
    }
    .card-text{
        list-style: none; 
        margin: 0;
        padding: 0;
        li{
            font-size: 12px;
            line-height: 120%;
            display: flex;
            justify-content: space-between;
            margin-top: 0;
        }
    }
    .card-img-top{
        width: 100%;
        height: 178px;
        position: relative;
        overflow: hidden;
        img{
            width: 100%;
            height: 100%;
            object-fit: cover;
            object-position: center;
        }
    }
    .yellow-btn{
        box-shadow: none;
        width: 100%;
        text-align: center;
        font-size: 14px;
        box-sizing: border-box;
        padding: 10px 0;
    }
    &.order-card{
        .card-body{
        padding-bottom: 25px;
        }
    }
}

.filter-block{
    width: 100%;
    background: #fff;
    border-radius: 16px;
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.1);
    padding: 30px 50px;
    margin-top: 60px;
    margin-bottom: 40px;
    input:focus , input:active , button:focus , button:active 
    , select:focus , select:active{
        box-shadow: none;
        outline: none;
    }
    .search-input{
        width: 100%;
        border-radius: 30px;
        border: none;
        background: #f5f5f5;
        padding: 18px 20px;
        margin-right: 30px;
    }
    .selectors-block{
        margin-top: 30px;
        .form-control-custom{
            min-width: calc(25% - 10px);
            display: inline-block;
        }
        select{
            height: auto;
            width: fit-content;
            border: none;
            padding: 2px 0;
            padding-right: 25px;
            border-bottom: 2px solid #FFD977;
            border-radius: 0;
            background-image: url('https://image.flaticon.com/icons/png/512/25/25623.png');
            background-size: 10px 10px;
            margin-right: 30px;
            color: #000;
            font-size: 14px;
            font-weight: bold;
            background-position: right;
            margin-bottom: 20px;
        }
    }
    .price{
        .title{
            font-size: 18px;
            font-weight: bold;
            padding-bottom: 1px;
            border-bottom: 2px solid #FFD977;
            display: block;
            width: fit-content;
            margin-top: 20px;
        }
        input{
            display: inline-block;
            max-width: 230px;
            border-radius: 30px;
            border: none;
            background: #f5f5f5;
            padding: 15px 20px;
            margin-right: 30px;
            margin-top: 10px;
        }
    }
    .yellow-btn{
        padding: 10px 40px;
        box-shadow: none;
        width: fit-content;
        display: block;
        margin: 10px auto;
        font-size: 18px;
    }
}

.projects-wrapper{
    margin-top: 50px;
    display: flex;
    flex-wrap: wrap;
    .flex-box{
        margin: 0 -15px;
        margin-top: 30px;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
    }
    .project-card{
        flex: 0 0 calc(25% - 30px);
    }
}

.recommend-block{
    margin-top: 100px;
    .title{
        margin-bottom: 70px;
    }
    .slick-track{
        padding: 20px 0;
    }
    .project-card{
        margin: 0 15px;
        max-width: 240px;
        padding: 0 !important;
    }
}

.register-block{
    .form-group{
        margin-bottom: 24px !important;
    }
    .form-card{
        width: 1000px;
        margin: 70px auto;
        border-radius: 16px;
        background: #FFFFFF;
        box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.25);
        padding: 0;
        border: none;
    }
    .col-md{
        margin: 0;
        padding: 0 !important;
    }
    .form-card form{
        width: 100%;
        box-sizing: border-box;
        padding: 50px 70px;
        max-width: none !important;
        overflow: hidden;
        position: relative;
        &:after {
            content: "Вы зарегистрировались";
            width: calc(100%);
            height: 100%;
            position: absolute;
            transform: translateY(-100%);
            top: 0;
            left: 0;
            display: flex;
            justify-content: center;
            align-items: center;
            background: #FFD977;
            color: #000;
            font-weight: bold;
            font-size: 30px;
            border-radius: 16px;
            transition: 1s;
        }
        &.animated{
            &:after {
                transform: translateY(0);
            }
        }
    }
    .invalid{
        border-color: red;
        outline-color: tomato;
    }
    .error-text{
        color: red;
        display: block;
        margin-bottom: -19px;
        position: relative;
    }
    label{
        display: inline-block;
    }
    label::before{
        content: '';
        display: inline-block;
        width: 13px;
        height: 13px;
        border-radius: 50%;
        border: 1px solid #000;
        box-sizing: border-box;
        margin-right: 10px;
        margin-bottom: -1px;
    }
    input[type="radio"]{
        display: none;
    }
    input[type="radio"]:checked+label::before { border: 3.5px solid #FFD977; }
    .btn-submit{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        font-size: 18px;
        border-radius: 16px !important;
        box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.29);
        padding: 30px auto;
        width: 100%;
        box-sizing: border-box;
        span{
            transition: 0.4s;
            &.not-disabled{
                transform: translateY(0);
                opacity: 1;
            }
            &.text-succes{
                transform: translateY(-20px);
                opacity: 0;
                margin-top: -20px;
            }
        }
        &:desabled{
            background: #fcdd8d;
        }
        &.active{
            span.not-disabled{
                transform: translateY(20px);
                opacity: 0;
            }
            span.text-succes{
                transform: translateY(20px);
                opacity: 1;
            }
        }
    }
    .radio-group{
        display: flex;
        justify-content: space-between;
        margin-bottom: 30px;
    }

    input[type="text"] , input[type="password"]{
        padding: 25px 40px;
        box-sizing: border-box;
        border-radius: 16px;
    }
    input[type="text"]:focus , input[type="password"]:focus{
        box-shadow: none;
    }
    .radio-title{
        font-weight: bold;
        margin-top: 30px;
    }
    .form-title{
        font-weight: bold;
        font-size: 22px;
        line-height: 110.69%;
        margin-bottom: 40px;
    }
    .with-border{
        padding-bottom: 2px;
        border-bottom: 2px solid #FFD977;
    }
    .form-img-col{
        border-radius: 16px;
        overflow: hidden;
        padding: 0;
        margin: 0;
    }
    .form-img-col img{
        height: 100%;
        object-fit: cover;
    }
    @media screen and (max-width: 1200px){
        .form-card{
            width: 100%;
        }
    }
    @media screen and (max-width: 993px){
        .form-card{
            width: 100%;
        }
        .form-img-col{
            display: none;
        }
    }
    @media screen and (max-width: 500px){
        form{
           padding: 0px 20px !important;
        }
        .form-card{
            box-shadow: none;
        }
    }
}

.projects-pagination{
    margin-left: 15px;
    .page-link{
        font-size: 18px;
        border: none;
        color: #000;
    }
    .btn-next{
        width: 37px;
        height: 37px;
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        color: #000;
        background: #FFD977;
        font-size: 16px;
        z-index: 100;
        &:hover, &:active{
            background: #fccb51;
            color: #333;
        }
    }
    .btn-prev{
        width: 37px;
        height: 37px;
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        color: #000;
        background: #FFD977;
        font-size: 16px;
        z-index: 100;
        &:hover, &:active{
            background: #fccb51;
            color: #333;
        }
    }
}

.login-block{
    max-width: 550px;
    position: relative;
    padding: 70px 80px;
    box-sizing: border-box;
    background: #fff;
    border-radius: 16px;
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.1);
    margin: 40px auto;
    overflow: hidden;
    .error-text{
        color: red;
        margin-top: -18px;
    }
    input{
        width: 100%;
        box-sizing: border-box;
        padding: 30px 40px;
        border-radius: 16px;
        margin-bottom: 20px;
        &:focus{
            box-shadow: none;
            outline: none;
        }
    }
    .title{
        font-size: 20px;
        font-weight: bold;
        padding-bottom: 3px;
        border-bottom: 2px solid #FFD977;
        width: fit-content;
        margin: 0 auto;
        margin-bottom: 40px;
    }
    .forgot-block {
        display: flex;
        justify-content: space-between;
        margin: 10px 0;
        width: 100%;
        .forgot-link{
            display: block;
            font-size: 16px;
            padding-bottom: 2px;
            border-bottom: 2px solid #FFD977;   
            color: #000;
            text-decoration: none;
        }
    }
    .yellow-btn{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding: 20px;
        width: 100%;
        margin: 20 0;
        margin-top: 20px;
        box-shadow: none;
        border-radius: 16px;
        text-align: center;
        font-size: 18px;
        font-weight: bold;
        span{
            transition: 0.4s;
            &.not-disabled{
                transform: translateY(0);
                opacity: 1;
            }
            &.text-succes{
                transform: translateY(-20px);
                opacity: 0;
                margin-top: -20px;
            }
        }
        &:desabled{
            background: #fcdd8d;
        }
        &.active{
            span.not-disabled{
                transform: translateY(20px);
                opacity: 0;
            }
            span.text-succes{
                transform: translateY(20px);
                opacity: 1;
            }
        }
    }
    .register-link{
        width: fit-content;
        font-size: 15px;
        font-weight: 500;
        margin: 10px auto;
        border-bottom: 2px solid #FFD977;
        padding-bottom: 2px;
        display: block;
        color: #000;
        text-decoration: none;
    }
    &:after {
        content: "Вы успешно вошли";
        width: 100%;
        height: 100%;
        position: absolute;
        transform: translateY(-100%);
        top: 0;
        left: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        background: #FFD977;
        color: #000;
        font-weight: bold;
        font-size: 30px;
        border-radius: 16px;
        transition: 1s;
    }
    &.animated{
        &:after {
            transform: translateY(0);
        }
    }
}

.project-view{
    .agree-form{
        max-width: 100%;
        .switch-block{
            display: flex;
            flex-direction: row;
            align-items: center;
            label{
                margin-right: 40px;
            }
        }
        .yellow-btn{
            box-shadow: none;
            width: fit-content;
            margin: 70px auto;
            display: block;
            padding: 25px 70px;
        }
        .passport-block{
            margin-top: 55px;
        }
        input[type=text]{
            border: none;
            border-bottom: 1px solid #353535;
            padding: 30px 20px;
            outline: none;
            width: 100%;
            margin: 10px 0;
        }
        input[type=checkbox]{
            display: none;
            &:checked+label.switch{
                &::after{
                    transform: translateX(100%);
                    background: #FFD977;
                }
            }
        }
        label.switch{
            position: relative;
            width: 100px;
            height: 35px;
            border-radius: 35px;
            background: #787878;
            &::after{
                content: '';
                width: 53px;
                height: 35px;
                border-radius: 35px;
                position: absolute;
                left: 0;
                top: 0;
                background: #a7a7a7;
                transition: 0.5s;
            }
        }
    }
    .btn-next{
        width: 37px;
        height: 37px;
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        color: #000;
        background: #FFD977;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        right: -17px;
        font-size: 16px;
        z-index: 100;
        &:hover, &:active{
            background: #fccb51;
            color: #333;
        }
    }
    .btn-prev{
        width: 37px;
        height: 37px;
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        color: #000;
        background: #FFD977;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        left: -10px;
        font-size: 16px;
        z-index: 100;
        &:hover, &:active{
            background: #fccb51;
            color: #333;
        }
    }
    .slick-next::before , .slick-prev::before {
        display: none;
    }
    .card{
        box-sizing: border-box;
        width: 100%;
        background: #FFFFFF;
        box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.15);
        border-radius: 16px;
        padding: 30px;
        border: none;
    }
    .project-title{
        padding-bottom: 2px;
        border-bottom: 2px solid #FFD977;
        font-size: 35px;
        margin-bottom: 35px;
        width: fit-content;
    }
    .preview{
        margin-bottom: 20px;
        width: 100%;
        height: 455px;
        border-radius: 16px;
        position: relative;
        overflow: hidden;
        box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.15);
        img{
            object-fit: cover;
            width: 100%;
            height: 100%;
        }
    }
    .preview-slide{
        margin-bottom: 40px;
        width: 100%;
        height: 455px;
        border-radius: 16px;
        position: relative;
        overflow: hidden;
        img{
            object-fit: cover;
            width: 100%;
            height: 100%;
        }
    }
    .mini-slider{
        .slick-list{
            padding: 10px 0;
        }
    }
    .desc-card{
        margin: 25px 0;
        height: 475px;
        overflow-y: hidden;
        @media screen and (max-width: 768px){
            height: fit-content;
        }
    }
    .info-card{
        position: relative;
        padding: 80px 50px;
        padding-top: 100px;
        table{
            select{
                border: none;
                margin: 0;
                padding: 0;
                background-image: url('https://image.flaticon.com/icons/png/512/25/25623.png');
                background-size: 10px 10px;
                background-position: right center;
                background-repeat: no-repeat;
                color: #000;
                &:focus{
                    box-shadow: none;
                    outline: none;
                }
            }
        }
        .like-block{
            position: absolute;
            top: 30px;
            right: 40px;
            font-size: 12px;
            z-index: 10;
            display: flex;
            align-items: center;
            cursor: pointer;
            .like{
                width: 35px;
                height: 35px;
                font-size: 17px;
                color: #FFD977;
                display: flex;
                justify-content: center;
                align-items: center;
                background: #fff;
                border-radius: 50%;
                margin-left: 10px;
                box-shadow: 0 5px 10px rgba(0, 0, 0, 0.15);
                transition: 0.2s;
            }
            &.active{
                .like{
                    color: #fff;
                    background: #FFD977;
                    box-shadow: none;
                }
            }
            &.animated{
                .like{
                    font-size: 14px;
                    transform: translateY(5px);
                }
            }
            &:disabled{
                opacity: 0.6;
            }
        }
    }
    .mini-preview{
        max-width: 210px;
        height: 151px;
        border-radius: 16px;
        position: relative;
        overflow: hidden;
        box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.15);
        margin: 0 10px;
        &:focus , &:active{
            outline: none;
            box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.15);
        }
        img{
            object-fit: cover;
            width: 100%;
            height: 100%;
        }
    }
    .price-block{
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-top: 40px 0;
        td{
            vertical-align: center;
        }
        .price{
            width: fit-content;
            color: white;
            background: #353535;
            padding: 10px 30px;
            box-shadow: 0px 3px 9px rgba(0, 0, 0, 0.25);
        }
    }
    td{
        border: none;
    }
    .btn-block {
        margin-top: 40px;
        display: flex;
        justify-content: space-between;
        .yellow-btn{
            box-shadow: none;
            line-height: 100%;
        }
        .yellow-outline-btn{
            background: #fff;
            border: 2px solid #FFD977;
            border-radius: 100px;
            box-shadow: 0;
        }
        a , button{
            display: block;
            position: relative;
            padding: 20px 40px;
            font-size: 13px;
            color: #000;
            text-decoration: none;
            line-height: 100%;
        }
    }
}

.favorites-block{
    .title{
        padding-bottom: 2px;
        border-bottom: 2px solid #FFD977;
        width: fit-content;
    }
}

.faq-block{
    .title{
        padding-bottom: 5px;
        border-bottom: 2px solid #FFD977;
        margin-bottom: 30px;
        width: fit-content;
    }
    .accordion{
        .card{
            border: none;
            .card-header{
                background: #fff;
                padding: 10px 0;
                font-size: 20px;
                font-weight: bold;
                .btn{
                    font-size: 20px;
                    font-weight: bold;
                    padding-right: 30px;
                    width: fit-content;
                    background-repeat: no-repeat;
                    background-position: right center;
                    background-size: 15px 15px;
                    transition: background-image .2s;
                    background-image: url('https://image.flaticon.com/icons/png/512/60/60799.png');
                    &.collapsed{
                        background-image: url('https://image.flaticon.com/icons/png/512/25/25623.png');
                    }
                }
            }
        }
    }
}

.advice-card{
    position: relative;
    border-radius: 16px;
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.1);
    border: none;
    .card-img{
        position: relative;
        height: 280px;
        width: 100%;
        border-radius: 16px;
        overflow: hidden;
        img{
            object-fit: cover;
            width: 100%;
            height: 100%;
        }
    }
    .yellow-btn{
        font-size: 15px;
        padding: 10px 20px;
        display: block;
        color: #000;
        text-decoration: none;
        margin-top: 30px;
        width: fit-content;
    }
}

.building-advice{
    .title{
        padding-bottom: 2px;
        border-bottom: 2px solid #FFD977;
        width: fit-content;
        margin-bottom: 40px;
    }
}

.profile-block{
    .title{
        font-size: 35px;
        font-weight: bold;
        padding-bottom: 5px;
        border-bottom: 2px solid #FFD977;
        margin-bottom: 40px;
        width: fit-content;
    }
    ul.menu{
        list-style: none;
        padding: 0;
        margin: 0;
        li{
            width: 100%;
            margin: 0;
            margin-bottom: 10px;
            padding: 25px 35px;
            color:#000;
            border-radius: 5px;
            box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.25), -1px -1px 2px rgba(0, 0, 0, 0.25);
            background: #F9F9F9;
            font-size: 16px;
            font-weight: 500;
            position: relative;
            a{
                text-decoration: none;
                color: #000;
                display: flex;
                flex-direction: row;
                align-items: center;
            }
            img{
                height: 20px;
                display: block;
                margin-right: 20px;
            }
            &::before{
                content: '';
                position: absolute;
                z-index: 100;
                width: 5px;
                height: calc(100% - 10px);
                top: 5px;
                left: 5px;
                background: #FFD977;
                border-radius: 5px;
                display: none;
            }
            &:hover{
                &::before{
                    display: block;
                }
            }
            &.active{
                &::before{
                    display: block;
                }
            }
        }
    }
    .profile-info{
        display: flex;
        flex-direction: row;
        .img{
            width: 250px;
            height: 250px;
            position: relative;
            border-radius: 16px;
            box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.1);
            overflow: hidden;
            img{
                object-fit: cover;
                width: 100%;
                height: 100%;
            }
        }
        .info{
            margin-left: 50px;
        }
    }
}

.show-advice{
    .title{
        width: fit-content;
        padding-bottom: 2px;
        border-bottom: 2px solid #FFD977;
    }
    .content-text{
        display: block;
        height: fit-content;
        margin-bottom: 70px;
    }
    .card{
        border-radius: 16px;
        // box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
        border: none;
        padding: 30px;
        .img-block{
            width: 100%;
            height: 400px;
            border-radius: 16px;
            box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
            position: relative;
            overflow: hidden;
            margin: 40px 0;
            img{
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }
        .comments{
            .comment-item{
                width: 100%;
                padding: 20px 10px;
                position: relative;
                &:not(:last-child){
                    border-bottom: 1px solid rgba(0, 0, 0, 0.6);
                }
                .text{
                    position: relative;
                    padding-right: 100px;
                    .created-at{
                        position: absolute;
                        right: 0;
                        bottom: 20px;
                    }
                }
            }
            .add-comments{
                margin-top: 20px;
                .title{
                    margin-bottom: 20px;
                }
                textarea{
                    width: 100%;
                    height: 80px;
                    resize: none;
                    border: 1px solid rgba(0, 0, 0, 0.3);
                    border-radius: 16px;
                    margin-top: 10px;
                    padding: 10px 20px;
                }
                .yellow-btn{
                    padding: 10px 30px;
                    box-shadow: none;
                    font-size: 18px;
                    display: block;
                    margin-top: 20px;
                }
            }
        }
    }
}

.plans-block{
    .input-block{
        display: none;
        input[type="radio"]:checked+label.card{
            border: 2px solid #FFD977;
        }
    }
    input[type="radio"]{
        display: none;
    }
    input[type="radio"]:checked+label.card{
        border: 2px solid #FFD977;
        width: 306px;
        padding: 38px 60px;
    }
    .title{
        width: fit-content;
        border-bottom: 2px solid #FFD977;
        padding-bottom: 2px;
        margin-bottom: 50px;
    }
    .card{
        display: block;
        max-width: 310px;
        border-radius: 16px;
        padding: 40px 60px;
        text-align: center;
        box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
        margin: 30px auto;
        border: none;
        margin-bottom: 100px;
        text-decoration: none;
        color: #000;
        cursor: pointer;
        .price{
            width: 100%;
            text-align: center;
            padding-bottom: 2px;
            border-bottom: 2px solid #FFD977;
            margin-top: 150px;
            margin-bottom: 60px;
        }
    }
}

.balance-modal{
    .title{
        width: fit-content;
        padding-bottom: 2px;
        border-bottom: 2px solid #FFD977;
    }
    .card{
        max-width: 380px;
        margin: 30px auto;
        border-radius: 16px;
        overflow: hidden;
        box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
        border: none;
    }
    .modal-body{
        width: 100%;
        height: 470px;
        overflow: hidden;
        display: flex;
        flex-direction: row;
        .first-step , .second-step{
            width: 100%;
            height: 100%;
            transition: 0.2s;
        }
        .first-step{
            display: flex;
            align-content: space-around;
            flex-direction: column;
        }
        &.animated{
            .first-step{
                margin-left: -100%;
            }
        }
    }
}


.messages-btn{
    background: none;
    position: relative;
    &::after{
        content: '';
        width: 7px;
        height: 7px;
        background: red;
        border-radius: 50%;
        top: 7px;
        right: 5px;
        display: none;
        position: absolute;
        background-image: none;
        border: none;
    }
    &.active{
        &::after{
            display: block;
        }
    }
    &:active ,&:focus{
        box-shadow: none;
        outline: none;
    }
}
.messages-block{
    padding: 0;
    max-height: 400px;
    border-radius: 16px;
    overflow-x: hidden;
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.25);
    border: none;
    overflow-y: auto;
    .dropdown-title {
        padding: 20px;
        text-align: center;
        font-weight: 600;
        font-size: 16px;
        border-bottom: 1px solid rgba(204, 204, 204, 0.4);
    }
    .message-block{
        color: #000;
        text-decoration: none;
        width: 350px;
        padding: 15px 30px;
        box-sizing: border-box;
        position: relative;
        padding-right: 27px;
        font-size: 14px;
        display: flex;
        flex-direction: row;
        align-items: center;
        .content{
            min-height: 0;
            margin-left: 10px;
            width: 100%;
            box-sizing: border-box;
            word-wrap: normal;
            white-space: none;
        }
        .icon{
            width: 50px;
            height: 50px;
            position: relative;
            overflow: hidden;
            border-radius: 50%;
            border: 1px solid rgba(204, 204, 204, 0.6);
            img{
                width: 100%;
                height: 100%;
                object-fit: contain;
            }
        }
        .title{
            margin-bottom: 0;
            padding-bottom: 0;
            color: #000;
        }
        .date{
            display: block;
            position: absolute;
            top: 15px;
            right: 10px;
        }
        .seen-btn{
            position: absolute;
            top: 50%;
            right: 10px;
            font-size: 14px;
            color: #000;
            text-decoration: none;
            transform: translateY(-50%);
            cursor: pointer;
            background: none;
            padding: 0;
            margin: 0;
            border: none;
        }
        &:not(:last-child){
            border-bottom: 1px solid rgba(204, 204, 204, 0.4);
        }
        &::before{
            content: '';
            position: absolute;
            height: 100%;
            width: 5px;
            background: #FFD977;
            left: 0;
            top: 0;
        }
        &.seen{
            opacity: 0.6;
            &::before{
                content: '';
                display: none;
            }
        }
    }
}

.user-settings{
    padding: 0;
    max-height: 400px;
    border-radius: 16px;
    overflow-x: hidden;
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.25);
    border: none;
    overflow-y: auto;
    .dropdown-item {
        color: #000;
        text-decoration: none;
        width: 170px;
        padding: 15px 30px;
        box-sizing: border-box;
        position: relative;
        padding-right: 27px;
        font-size: 14px;
        display: flex;
        flex-direction: row;
        align-items: center;
    }
}

.detail-modal-block{
    .agree-form{
        max-width: 100%;
        .switch-block{
            display: flex;
            flex-direction: row;
            align-items: center;
            label{
                margin-right: 40px;
            }
        }
        .yellow-btn{
            box-shadow: none;
            width: fit-content;
            margin: 70px auto;
            display: block;
            padding: 25px 70px;
        }
        .passport-block{
            margin-top: 55px;
        }
        input[type=text]{
            border: none;
            border-bottom: 1px solid #353535;
            padding: 30px 20px;
            outline: none;
            width: 100%;
            margin: 10px 0;
        }
        input[type=checkbox]{
            display: none;
            &:checked+label.switch{
                &::after{
                    transform: translateX(100%);
                    background: #FFD977;
                }
            }
        }
        label.switch{
            position: relative;
            width: 100px;
            height: 35px;
            border-radius: 35px;
            background: #787878;
            &::after{
                content: '';
                width: 53px;
                height: 35px;
                border-radius: 35px;
                position: absolute;
                left: 0;
                top: 0;
                background: #a7a7a7;
                transition: 0.5s;
            }
        }
    }
    .btn-next{
        width: 37px;
        height: 37px;
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        color: #000;
        background: #FFD977;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        right: -17px;
        font-size: 16px;
        z-index: 100;
        &:hover, &:active{
            background: #fccb51;
            color: #333;
        }
    }
    .btn-prev{
        width: 37px;
        height: 37px;
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        color: #000;
        background: #FFD977;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        left: -10px;
        font-size: 16px;
        z-index: 100;
        &:hover, &:active{
            background: #fccb51;
            color: #333;
        }
    }
    .slick-next::before , .slick-prev::before {
        display: none;
    }
    .card{
        box-sizing: border-box;
        width: 100%;
        background: #FFFFFF;
        border-radius: 16px;
        padding: 30px;
        border: none;
    }
    .project-title{
        padding-bottom: 2px;
        border-bottom: 2px solid #FFD977;
        font-size: 35px;
        margin-bottom: 35px;
        width: fit-content;
    }
    .preview{
        margin-bottom: 20px;
        width: 100%;
        height: 455px;
        border-radius: 16px;
        position: relative;
        overflow: hidden;
        box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.15);
        img{
            object-fit: cover;
            width: 100%;
            height: 100%;
        }
    }
    .preview-slide{
        margin-bottom: 40px;
        width: 100%;
        height: 455px;
        border-radius: 16px;
        position: relative;
        overflow: hidden;
        img{
            object-fit: cover;
            width: 100%;
            height: 100%;
        }
    }
    .mini-slider{
        .slick-list{
            padding: 10px 0;
        }
    }
    .info-card{
        position: relative;
        padding: 80px 50px;
        padding-top: 50px;
        table{
            select{
                border: none;
                margin: 0;
                padding: 0;
                background-image: url('https://image.flaticon.com/icons/png/512/25/25623.png');
                background-size: 10px 10px;
                background-position: right center;
                background-repeat: no-repeat;
                color: #000;
                &:focus{
                    box-shadow: none;
                    outline: none;
                }
            }
        }
    }
    .mini-preview{
        max-width: 210px;
        height: 151px;
        border-radius: 16px;
        position: relative;
        overflow: hidden;
        box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.15);
        margin: 0 10px;
        &:focus , &:active{
            outline: none;
            box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.15);
        }
        img{
            object-fit: cover;
            width: 100%;
            height: 100%;
        }
    }
    .price-block{
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-top: 40px 0;
        td{
            vertical-align: center;
        }
        .price{
            width: fit-content;
            color: white;
            background: #353535;
            padding: 10px 30px;
            box-shadow: 0px 3px 9px rgba(0, 0, 0, 0.25);
        }
    }
    td{
        border: none;
    }
}